body,
body > div,
body > div > div,
body > div > div > div {
  height: 100%;
}

.Main-content {
  position: fixed;
  height: 100%;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #FFF;
  overflow: auto;
}

.Logout-btn {
  float: right;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: #72c6a5;
}

.Header {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100%;
  max-width: 100px;
  background: rebeccapurple;
}

@media only screen and (max-width: 756px) {
  .Header {
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 60px;
  }
}

